## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Colon,PA,9.3592,-79.9014,78.37,88,100,1.90,overcast clouds
1,1,Tasiilaq,GL,65.6145,-37.6368,42.96,90,98,3.71,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,84.07,62,86,9.84,overcast clouds
3,3,Derzhavinsk,KZ,51.1000,66.3167,79.66,39,38,12.08,scattered clouds
4,4,Butaritari,KI,3.0707,172.7902,82.54,77,29,15.39,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("What is the minimum temperature for your trip?"))
max_temp=float(input("What is the maximum temperature for your trip?"))

What is the minimum temperature for your trip?75
What is the maximum temperature for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
preferred_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Colon,PA,9.3592,-79.9014,78.37,88,100,1.90,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,84.07,62,86,9.84,overcast clouds
3,3,Derzhavinsk,KZ,51.1000,66.3167,79.66,39,38,12.08,scattered clouds
4,4,Butaritari,KI,3.0707,172.7902,82.54,77,29,15.39,light rain
5,5,Vaini,TO,-21.2000,-175.2000,75.36,83,40,9.22,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities.count()

City_ID                242
City                   242
Country                242
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities.dropna()
clean_df.count()

City_ID                242
City                   242
Country                242
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Colon,PA,78.37,overcast clouds,9.3592,-79.9014,
2,Bengkulu,ID,84.07,overcast clouds,-3.8004,102.2655,
3,Derzhavinsk,KZ,79.66,scattered clouds,51.1000,66.3167,
4,Butaritari,KI,82.54,light rain,3.0707,172.7902,
5,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
6,Hithadhoo,MV,82.78,heavy intensity rain,-0.6000,73.0833,
11,Candolim,IN,80.60,overcast clouds,15.5181,73.7626,
12,Banepa,NP,80.92,few clouds,27.6298,85.5214,
14,Xining,CN,78.80,broken clouds,36.6167,101.7667,
25,Yankton,US,78.12,clear sky,42.8711,-97.3973,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lats=row["Lat"]
    lngs=row["Lng"]
    params["location"]=f"{lats},{lngs}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found, skipping...")

Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...
Hotel not found, skipping...

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Colon,PA,78.37,overcast clouds,9.3592,-79.9014,Sand Diamond Hotel
2,Bengkulu,ID,84.07,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,Derzhavinsk,KZ,79.66,scattered clouds,51.1000,66.3167,Ooo.khim Baza
4,Butaritari,KI,82.54,light rain,3.0707,172.7902,Isles Sunset Lodge
5,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Hithadhoo,MV,82.78,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
11,Candolim,IN,80.60,overcast clouds,15.5181,73.7626,Resort Terra Paraiso
12,Banepa,NP,80.92,few clouds,27.6298,85.5214,Dhulikhel Lodge Resort
14,Xining,CN,78.80,broken clouds,36.6167,101.7667,Super Leisure Hotel
25,Yankton,US,78.12,clear sky,42.8711,-97.3973,"Holiday Inn Express & Suites Yankton, an IHG H..."

In [21]:
hotel_df['Hotel Name'].replace("", np.nan, inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Colon,PA,78.37,overcast clouds,9.3592,-79.9014,Sand Diamond Hotel
2,Bengkulu,ID,84.07,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,Derzhavinsk,KZ,79.66,scattered clouds,51.1000,66.3167,Ooo.khim Baza
4,Butaritari,KI,82.54,light rain,3.0707,172.7902,Isles Sunset Lodge
5,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Hithadhoo,MV,82.78,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
11,Candolim,IN,80.60,overcast clouds,15.5181,73.7626,Resort Terra Paraiso
12,Banepa,NP,80.92,few clouds,27.6298,85.5214,Dhulikhel Lodge Resort
14,Xining,CN,78.80,broken clouds,36.6167,101.7667,Super Leisure Hotel
25,Yankton,US,78.12,clear sky,42.8711,-97.3973,"Holiday Inn Express & Suites Yankton, an IHG H..."

In [22]:
hotel_df.count()

City                   242
Country                242
Max Temp               242
Current Description    242
Lat                    242
Lng                    242
Hotel Name             226
dtype: int64

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna(subset=['Hotel Name'])

In [24]:
clean_hotel_df.count()

City                   226
Country                226
Max Temp               226
Current Description    226
Lat                    226
Lng                    226
Hotel Name             226
dtype: int64

In [27]:
# 8a. Create the output File (CSV)
file_to_output = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(file_to_output, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))